@import "../../node_modules/@prose-ui/style/dist/prose-ui.css";
@import "../../node_modules/@prose-ui/style/dist/katex.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply border-slate-200;
  }

  body {
    @apply bg-slate-100 text-slate-900;
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Yu Gothic", sans-serif;
  }
}
