@import "../../node_modules/@prose-ui/style/dist/prose-ui.css";
@import "../../node_modules/@prose-ui/style/dist/katex.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply border-slate-200;
  }

  body {
    @apply bg-slate-100 text-slate-900;
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Yu Gothic", sans-serif;
  }
}

@layer components {
  .prose-ui pre code {
    @apply block px-2 py-2 text-sm;
  }

  .prose-ui pre {
    @apply max-w-full overflow-x-auto bg-slate-50;
  }

  .prose-ui pre.shiki {
    background-color: rgb(248 250 252) !important;
  }
}
